.header-p{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
}
.header-p .logo-p{
    width: 221px;
    height: 62px;
    margin-top: 19px;
    margin-left: 352px;
    background: url(../images/shop_03.png) no-repeat;
    background-size: 100%;
}
.content-p{
    width: 100%;
    height: 756px;
    background: #fafafa;
    overflow: hidden;
}
.content-p .content-p-c{
    width: 1198px;
    height: 582px;
    border: 1px solid #e6e6e6;
    background: #fff;
    text-align: center;
    margin: 53px auto;
}
.content-p-c .password-r{
    text-align: center;
    margin-top: 39px;
    color: #333;
    font-size: 25px;
    font-weight: 500;
}
.content-p-c .password-i input{
    border-radius: 3px;
    height: 40px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
    text-indent: .5em;
    margin-bottom: 20px;
}
.password-i .row-wrap{
    width: 574px;
    height: 40px;
    margin: 22px auto 20px;
    text-align: center;
}
.row-wrap .name-wrap{
    width: 112px;
    float: left;
    text-align: right;
    line-height: 40px;
    font-size: 15px;
    color: #666;
    margin-right: 23px;
}
.inp-wrap input{
    float: left;
    width: 174px;
}
.inp-wrap a{
    float: left;
    margin-left: 39px;
}
.inp-wrap .change{
    float: right;
    line-height: 40px;
    margin-left: 15px;
}
.inp-wrap .jx{
    width: 16px;
    height: 16px;
    background: url(../images/jx1.png) no-repeat;
    background-size: 100%;
    float: left;
    margin-top: 7px;
}
.inp-wrap img{
    width: 100px;
    height: 40px;
    visibility: visible;
}
.password-i .row-wrap2{
    width: 620px;
}
.row-wrap2 .name-wrap2{
    margin-right: 43px;
}
.inp-wrap .mobile{
    width: 365px;
}
.inp-wrap .jx2{
    width: 16px;
    height: 16px;
    background: url(../images/jx2.png) no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 14px;
}
.inp-wrap span{
    margin-left: 10px;
    line-height: 40px;
}
.inp-wrap .btn{
    margin-left: 23px;
    cursor: pointer;
    background: #f4f4f4;
}
.password-i .last{
    width: 366px;
    height: 76px;
    margin-top: 60px;
    margin-left: 445px;
}
.content-p-c .last input{
    width: 366px;
    height: 48px;
    color: #fff;
    line-height: 48px;
    background: #2288f6;
    border: none;
}
.footer{
    width: 100%;
    height: 169px;
    background: #212425;
    overflow: hidden;
    color: #888;
    text-align: center;
    line-height: 24px;
}
.footer-container{
    margin: auto;
    width: 1180px;
}
.footer-container .foot-nav{
    border-bottom: 1px solid #888;
    margin: 40px 0 12px 0;
    padding-bottom: 14px;
}
.footer-container .foot-nav a{
    color: #f0f1f1;
    padding: 0 14px;
}
.copyright{
    font-size: 14px;
    color: #999;
    line-height: 2;
    text-align: center;
}